.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 5s ease-in-out;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    img {
        max-width: 20%;
    }
    p {
        margin-top: 100px;
    }
    textarea {
        margin-top: 32px;
        width: 500px;
        height: 100px;
    }
}

.App-link {
    color: #61dafb;
}

.launch-box {
    input {
        width: 200px;
        height: 26px;
        margin-right: 16px;
    }
    button {
        width: auto;
        height: 32px;
        padding: 8px 32px;
        margin-top: 16px;
    }
}

@keyframes App-logo-spin {
    0%,
    100% {
        transform: rotate(0deg) scale(0.1);
    }
    20%,
    80% {
        transform: rotate(3600deg) scale(1);
    }
}
